* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}


/* Typography */

.header-text {
    color: #0E0E0E;
    font-weight: bold;
    font-size: 0.84rem;
}

li {
    font-size: 0.75rem;
    font-weight: 600;
}

.hero-post h1 {
    color: #FFFFFF;
    font-size: 2rem;
}

.hero-post p {
    color: #FFFFFF;
}

.date {
    font-size: 0.75rem;
    margin: 0 0 0.6667em 0;
}

.article-text {
    font-size: 1rem;
    margin: 0.5em 0 0 0;
}

.grid-posts .date {
    font-size: 0.885rem;
}

.grid-posts .heading {
    font-size: 1.5rem;
}

.grid-posts .date {
    padding-top: 1.1667em;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
}

.footer-text {
    color: #ECECEC;
    font-size: 0.75rem;
    margin: 0;
}

.footer-copyright {
    color: #D7D7D7;
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
}









/* LayOut */

body {
    display: grid;
    grid-template-areas:
        "head"
        "main"
        "foot"
    ;
}

header {
    grid-area: head;
    /* padding: 0 1.25em */
}

main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1.25em 1fr 1.25em;
    grid-template-areas:

        "main main main"
        "... one ..."
        "... two ..."
        "... thre ..."
        "... btn ..."
    ;
    row-gap: 2.125em;
}

.container {
    grid-area: main;
}

.container1 {
    grid-area: one;
}

.container2 {
    grid-area: two;
}

.container3 {
    grid-area: thre;
}

.heading {
    margin: 0;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(0.75rem, 3vw, 1.5rem);

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.18em;
}

a {
    text-decoration: none;
    color: #0E0E0E;
}

ul {
    display: flex;
    margin-right: 0;
    list-style: none;
    gap: 30px;
}

.logo-img {
    width: 23px;
    height: 23px;
}

.hero-post {
    background-image: url('../images/hero.png');
    background-size: cover;
    width: 100%;
    padding: clamp(4rem, 12vw, 10rem) clamp(1.25rem, 6vw, 4rem) clamp(1.5rem, 6vw, 3rem);

}



img {
    width: 100%;
    border-radius: 3px;
}

.btn {
    grid-area: btn;
    margin: 1.68em auto 2.625em;
    border: none;
    color: #0E0E0E;
    background-color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}


footer {
    grid-area: foot;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3.3125em;
    padding-bottom: 2.3125em;
}






/* Media queries */

@media (min-width: 768px) {
    main {
        display: grid;
        grid-area: main;
        grid-template-columns: repeat(13, 1fr);
        grid-template-areas:

            "main main main main main main main main main main main main main"
            "... one one one ... two two two ... thre thre thre ..."
            "... btn btn btn btn btn btn btn btn btn btn ... ..."
        ;
        row-gap: 2.125em;
    }


    .hero-post .article-text {
        width: 60%;
    }

}