* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}


/* Typography */

.header-text {
    color: #0E0E0E;
    font-weight: bold;
    font-size: 0.84rem;
}

li {
    font-size: 0.75rem;
    font-weight: 600;
}

.hero-post h1 {
    color: #FFFFFF;
    font-size: 2rem;
}

.hero-post p {
    color: #FFFFFF;
}

.date {
    font-size: 0.75rem;
    margin: 0 0 0.6667em 0;
}

.article-text {
    font-size: 1rem;
    margin: 0.5em 0 0 0;
}

.grid-posts .date {
    font-size: 0.885rem;
}

.grid-posts .heading {
    font-size: 1.5rem;
}

.grid-posts .date {
    padding-top: 1.1667em;
}


main {
    display: grid;
    grid-template-columns: 1.25em 1fr 1.25em;
    grid-template-areas:

        "main main main"
        "... one ..."
        "... two ..."
        "... thre ..."
    ;
    row-gap: 2.125em;
}

.container {
    grid-area: main;
}

.container1 {
    grid-area: one;
}

.container2 {
    grid-area: two;
}

.container3 {
    grid-area: thre;
}











.heading {
    margin: 0;
}


.header-container {
    display: flex;
    justify-content: space-around;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.18em;
}

a {
    text-decoration: none;
    color: #0E0E0E;
}

ul {
    display: flex;
    margin-right: 0;
    list-style: none;
    gap: 30px;
}

.logo-img {
    width: 23px;
    height: 23px;
}

.hero-post {
    background-image: url('../images/hero.png');
    background-size: cover;
    width: 100%;
    padding: 5.4em 1.25em 1.56em;

}

img {
    width: 100%;
    border-radius: 3px;
}