* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}


/* Typography */

.header-text {
    color: #0E0E0E;
    font-weight: bold;
    font-size: 0.84rem;
}

li {
    font-size: 0.75rem;
    font-weight: 600;
}

.hero-post h1 {
    color: #FFFFFF;
    font-size: 2rem;
}

.hero-post p {
    color: #FFFFFF;
}

.date {
    font-size: 0.75rem;
    font-weight: lighter;
}

.article-text {
    font-size: 1rem;
    margin: 0.5em 0 0 0;
}


.grid-posts .heading {
    font-size: 1.5rem;
}


.container-00 h3 {
    font-size: 1rem;
    margin: 1.25em 0 0;
}

.aboutMe-title {
    margin: 0;
}

.container-0 .aboutMe-p {
    margin: 0.65em 0 3.125em 0;
}



.footer-text {
    color: #ECECEC;
    font-size: 0.75rem;
    margin: 0;
}

.footer-copyright {
    color: #D7D7D7;
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
}









/* LayOut */

body {
    display: grid;
    grid-template-areas:
        "head"
        "main"
        "foot"
    ;
}

header {
    grid-area: head;
}

main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1.25em 1fr 1.25em;
    grid-template-areas:

        "main main main"
        "... one ..."
        "... two ..."
        "... thre ..."
        "... four ..."
        "... five ..."
        "... six ..."
        "... ... ..."
    ;
    row-gap: 2.125em;
}

.container {
    grid-area: main;
}

.container1 {
    grid-area: one;
}

.container2 {
    grid-area: two;
}

.container3 {
    grid-area: thre;
}

.container4 {
    grid-area: four;
}

.container5 {
    grid-area: five;
}

.container6 {
    grid-area: six;
}



/* post page layout */

.post-page {
    display: grid;
    grid-template-columns: 1.25em 1fr 1.25em;
    grid-template-areas:

        "... mainP ..."
        "... recntP ..."
        "... oneP ..."
        "... twoP ..."
        "... threP ..."
        "... ... ..."
    ;
    row-gap: 2.125em;
    margin: 1em auto;
}


.container-0 {
    grid-area: mainP;

}

.container-00 {
    grid-area: recntP;
    text-align: center;
}

.container-1 {
    grid-area: oneP;
}

.container-2 {
    grid-area: twoP;
}

.container-3 {
    grid-area: threP;
}







.heading {
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(0.75rem, 3vw, 1.5rem);

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.18em;
}

a {
    text-decoration: none;
    color: #0E0E0E;
}

a .container {
    color: #FFFFFF;
}

a:hover,
a:focus {
    text-decoration: underline;
    text-decoration-color: #D7D7D7;
}

ul {
    display: flex;
    margin-right: 0;
    list-style: none;
    gap: 30px;
}

.logo-img {
    width: 23px;
    height: 23px;
}

.hero-post {
    background-image: url('../images/hero.png');
    background-size: cover;
    width: 100%;
    padding: clamp(4rem, 12vw, 10rem) clamp(1.25rem, 6vw, 4rem) clamp(1.5rem, 6vw, 3rem);

}



img {
    width: 100%;
    border-radius: 5px;
}

.post-img {
    margin: 2.187em auto;
}



.about-me .aboutMe-img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 1.69em;
}

.about-me {
    text-align: left;
}

.btn {
    grid-area: btn;
    margin: 1.68em auto 2.625em;
    border: none;
    color: #0E0E0E;
    background-color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}


footer {
    grid-area: foot;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3.3125em;
    padding-bottom: 2.3125em;
}






/* Media queries */

@media (min-width: 768px) {
    .header-text {
        font-size: 1.25rem;
    }

    li {
        font-size: 1rem;
    }


    .date {
        font-size: 1rem;
    }

    .grid-posts .post-title {
        font-size: 2.25rem;
    }


    .container-00 h3 {
        font-size: 1.5rem;
        margin: 3.3125em 0 0;
    }

    .grid-posts .date {
        margin-top: 0.875em;
    }





    .toggle-cont {
        display: flex;
        justify-content: start;
        gap: 2.06em;

    }

    .toggle-text {
        max-width: 770px;
        text-align: left;

    }


    main {
        display: grid;
        grid-area: main;
        grid-template-columns: repeat(13, 1fr);
        grid-template-areas:

            "main main main main main main main main main main main main main"
            "... one one one ... two two two ... thre thre thre ..."
            "... four four four  ... five five five ... six six six ..."
            "... ... ... ... ... ... ... ... ... ... ... ... ..."
        ;
        row-gap: 2.125em;
    }

    .post-cont {
        margin: 0 auto;
        /* width: 100%; */
        max-width: 844PX;
    }

    .post-page {
        display: grid;
        max-width: 1085;
        grid-template-columns: repeat(17, 1fr);
        grid-template-areas:

            ". mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP."
            ". recntP recntP recntP recntP recntP recntP recntP recntP recntP recntP recntP recntP recntP recntP recntP ."
            ". oneP oneP oneP oneP oneP twoP twoP twoP twoP twoP threP threP threP threP threP ."
            ". . . . . . . . . . . . . . . . ."
        ;
        column-gap: 1.2625em;
        row-gap: 2.125em;
        margin: 1em auto;
    }


    .hero-post .article-text {
        width: 60%;
    }

}